/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

/* Estilos del contenedor */
.contenedor {
  width: 300px; /* Ancho deseado para el contenedor */
  height: auto;
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  background-color: #0d1282;
}

/* Estilos de la imagen ajustada */
.imagen-ajustada {
  max-width: 100%; /* La imagen no excederá el ancho del contenedor */
  height: auto; /* La altura se ajustará proporcionalmente */
}

button {
  background-color: #16ff00;
}

textarea {
  background-color: #f94c10;
}
